<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  
    <h1>Acerca de la Carrera</h1>
   
    </header>
    <main>
        <section>
            <h2>¿Qué es la Ingeniería en Sistemas?</h2>
            <p>La Ingeniería en Sistemas es una carrera multidisciplinaria que integra conocimientos de informática, electrónica y gestión para desarrollar sistemas complejos. Los ingenieros en sistemas son responsables de diseñar y optimizar sistemas que satisfagan las necesidades de las organizaciones.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Wilbert Gongora. Todos los derechos reservados.</p>
    </footer>
</body>
</html>