<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Contacto</h1>
  
    <section>
        <h2>Información de Contacto</h2>
        <p>Si deseas contactarme, puedes hacerlo a través de los siguientes medios:</p>
        <ul>
            <li><strong>Nombre:</strong> Wilbert Gongora</li>
            <li><strong>Email:</strong> wilbert.gongora@example.com</li>
            <li><strong>Teléfono:</strong> 9971275233</li>
        </ul>
    </section>
</body>
</html>